@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes tickerMove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Optional: adjust the ticker height and background if needed */
.brand-ticker {
  background-color: white; /* ya jo bhi background chahiye */
  height: 80px; /* adjust height */
}

.ticker-track {
  display: flex;
  flex-shrink: 0;
}

